* {
  text-decoration: none;
  color: black; 
}

.App {
  height: 100%;
  width: 100%;
}

.App-logo {
  display: inline;
  animation: App-logo-spin infinite 20s ;
  pointer-events: none;
}

.App-header {
  display: inline-flex;
}

.App-link {
  display: inline-block;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
