.Page{
    display: inline-flex;
    left: 0px;
    right: 0px;
    height: 100vh;
    margin-top:0px;
    padding-top:0px;
}

.models {
    display: inline-block;
    width: 20.4vw;
    padding-left: 5px;
    border-right-style: solid;
    margin: 0px;
    border-right-color: #89a4b4;
    border-left-style: solid;
    border-width: 2px;
}
h6{
    color: black;
}

.LabelSearch{
    padding-top: 0px;
    margin-top: 10px;
    border-radius: 7px;
    width: 190px;
    height: 3vh;
    border-color: blue;
}

.formdiv{
    display: inline-block;
    width: 34vw;
    background-color: rgb(237, 252, 252);
    border-right-style: solid;
    border-right-color: #89a4b4;
    border-right-width: 2px;
    color: black;
    margin: 0px;
}

.overview{
    display: inline-block;
    background-color: bisque;
    width:30vw;
    color: black;
}

.Field {
    padding: 4px;
    margin: 6px;
    width: 90%;
}

.check {
    display: inline-block;
    width: 33%;
}

.photo {
    padding: 4px;
    margin: 6px;
    width: 90%;
    height: 15vh;
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
}

.bigField {
    padding: 4px;
    margin: 6px;
    width: 90%;
    height: 15vh;
    text-align: inherit;
}