.Bar {
    display: inline;
    margin-right: 0vw;
    color: white;
}

div {
    display: inline;
    color: white;
}

.Navi {
    display: inline-flex;
    min-height: 100vh;
    width: 14.5vw;
    background-color: #004058;
    padding-top: 0px;
    margin-top: 0px;
}